<!DOCTYPE html>
<head>
<script src="../js/jquery.min.js">
</script>
<script src="../js/jquery1.min.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../css/register.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js">
</script>

<script src="../js/register.js">
</script>
</head>
<body>
<p>STUDENTS REGISTER</P>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>rollno</th>
            <th>name</th>
		<th>phone no</th>
		<th><i class="fa fa-pencil-square" aria-hidden="true"></i></th>
		<th><i class="fa fa-trash-o" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td id="one">kazzaly</td>
		<td>435435543</td>
		<td></td>
<td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>viswa</td>
		<td>4355353</td>
<td></td>
<td></td>
        </tr>
    </tbody>
</table>

</body>
</html>
